body{
    font-family: Arial, Halveltica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /* Same as: font: 15px/1.5 Arial, Halvetica, sams-serif; */
    padding: 0;
    margin: 0;
    background-color: lightgray;
    overflow-x: hidden;
}
/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
ul{
    padding: 0;
    margin: 0;
    
}

.button_1{
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}



.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    text-align: right;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition:0.3s; 
}

.side-nav a:hover{
    background-color: lightgray;
    color: #fff;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 16;
    margin-right: 0px;
    
}

/* Header */
header{
    background:#35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    
}

.navbar{
    
}

.navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 0 0px;
}

/* Make mene honrizontal */


.navbar li{
    list-style: none;
}



/* float the Nav to the right */
header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}


header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase{
    min-height: 400px;
    background: url(../img/showcase.jpg) no-repeat 0 -10px;
    text-align: center;
    color: white;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* nesletter */
#newsletter{
    padding: 15px;
    color: white;
    background: #35424a;
}

/* float h1 to the left */
#newsletter h1{
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes{
    margin: 20px;
}

#boxes  .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

/* Sidebar */

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px; 
}
/* Main-col */
article#main-col{
    float: left;
    width: 65%;
}

/* Hire me, services */
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

/* Footer */
footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}

/* Media Queries */

/* Table size */
@media(max-width: 768px){
    header #branding, 
    header nav, 
    header nav li 
    #newsletter h1,
    #newsleter form, 
    #boxes .box,
    article#main-col,
    aside#sidebar
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    
    header {
        padding-bottom: 20px;
    }
    
    /* Adjust showcase top-margin, too big */
    #showcase h1 {
        margin-top: 40px;
    }
    
    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }
    
    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
}

@media(max-width:568px){
    .navbar-nav{display: none}
    header #branding{text-align: left}
    .open-slide{margin-top: 0px}
}

@media(min-width:568px){
    .open-slide{display: none}
}

